#actors > div {
    margin: 10px 0;
    padding: 10px;
}
#actors > div:nth-child(even) {
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
}

#actors > div:nth-child(odd) {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.actor-picture {
    max-width: 200px;
    display: block;
    float: left;
    margin: 5px;
}