<div class="page-header">
    <h1>Actors list:</h1>
</div>

<div id="actorsapp">
    <div id="search">
        Search: <input type="text" id="q" value="" /> <button type="button" id="go">Go &raquo;</button>
    </div>
    <div id="actors">
        <div class="row"> Loading... </div>
    </div>
    <div id="actors-stats"></div>
</div>

<script type="text/template" id="item-template">
    <div class="row actor" data-id="<%= id %>">
        <div class="col-md-10 col-sm-9 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>ID:</label> <%= id %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Name:</label> <%= name %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Aliases:</label> <%= aliases %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Birthday:</label> <%= birthdate %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Country:</label> <%= country %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Career status:</label> <%= career %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Eye color:</label> <%= eyes_color %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Hair color:</label> <%= hair_color %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Sizes:</label> <%= sizes %>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label>Social URL's:</label> <%= socials.join('; ') %>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <% if(pictures[0]) { %>  <img src="<%= pictures[0] %>" class="img-responsive" border="0" /> <% } %>
        </div>
    </div>
</script>

<script type="text/template" id="stats-template">
    <span class="todo-clear">Actors:
        <span class="number"><%= total %></span>
    </span>
</script>
