<div class="page-header">
    <h1>Actor view:</h1>
</div>

<div id="actorsapp" data-view="view" data-id="<?= $id ?>">
</div>

<script type="text/template" id="view-template">
<div class="row actor-view">
    <div class="col-md-6 col-sm-9 col-xs-12">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>ID:</th>
                <td><%= model.id %></td>
            </tr>
            <tr>
                <th>Name:</th>
                <td><%= model.name %></td>
            </tr>
            <tr>
                <th>Aliases:</th>
                <td><%= model.aliases %></td>
            </tr>
            <tr>
                <th>Birthday:</th>
                <td><%= model.birthdate %></td>
            </tr>
            <tr>
                <th>Country:</th>
                <td><%= model.country %></td>
            </tr>
            <tr>
                <th>Career status:</th>
                <td><%= model.career %></td>
            </tr>
            <tr>
                <th>Eye color:</th>
                <td><%= model.eyes_color %></td>
            </tr>
            <tr>
                <th>Hair color:</th>
                <td><%= model.hair_color %></td>
            </tr>
            <tr>
                <th>Sizes:</th><td><%= model.sizes %></td>
            </tr>
            <tr>
                <th>Social URL's:</th>
                <td><%= model.socials.join('<br/>') %></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-sm-3 col-xs-12">
        <% _.each(model.pictures, function(i) { %>  <div class="actor-picture"><img src="<%= i %>" class="img-responsive" border="0" /></div> <% }); %>
    </div>
</div>
</script>